@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Library Mangement System will provide an opportunity to the students in the college to use the website/App for issuing the books or check the availability of books.</p>
<p>Rohith Preetham Sunkara and Arshveer Uppal of Group 9 have collaborated to work on the Library Management System Project. We want to create a fully Functional website where :</p>
    <li>Students can get the information regarding the books available in the library</li>
    <li>Library Admin can get the Registered Student Information</li>
    <li>Issue Books Information can be viewed</li>