@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management System</h1>
    <p class="lead">Library Mangement System will provide an opportunity to the students in the college to use the website/App for issuing the books or check the availability of books.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books Info Table</h2>
        <p>
            In this table you can see the information regarding the book like book title, author name, publisher name, category. Here each book has been given an unique book id.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Students Info Table</h2>
        <p>In this table you can see the information regarding the registered students like book student first and last name, gender, and contact number. Here each student has been given an unique student id.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Issue Books Table</h2>
        <p>In this table you can see the information regarding the books issued by the students. This information include student Id , book id, issue date and return date. Each issue has unique issue id allotted.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>